.register-body{
    background-color: #3E8E41; /* A rich, natural green */
}

.register-header{
	text-align: center;
	color: black;
	font-size: 2em;
}

.register-form{
    background-color: whitesmoke;
    width: 25vw;
    padding: 15vh;
    height: auto;
    margin: 0 auto;
    margin-top: 10vh;

    transition: 300ms;

    border-radius: 5px;
    box-shadow: 0px 7px 10px 3px rgba(37, 37, 37, 0.7);
}
.register-form:hover{
	transition: 300ms;
    transform: scale(1.02);
	box-shadow: 0px 7px 10px 3px rgba(37, 37, 37, 0.7);
}

.register-input{
    width: 21vw;
    height: 40px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-weight: 200;

    transition: 300ms;
}
.register-input:hover{
    transition: 300ms;
    background-color: whitesmoke;
	box-shadow: 0px 7px 10px 3px rgba(37, 37, 37, 0.7);
}

.register-button{
    width: 30vw;
    height: 40px;
    margin: 10px 0;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: black;

    transition: 300ms;
}
.register-button:hover{
    transition: 300ms;
    background-color: white;
	box-shadow: 0px 7px 10px 3px rgba(37, 37, 37, 0.7);
}